flows.json
[{"id":"aadf2803.eda2a8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"cb4842b3.5521","type":"ibmiot in","z":"aadf2803.eda2a8","authentication":"apiKey","apiKey":"9659b14f.c703","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"6666","applicationId":"","deviceType":"rasp","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":290,"y":280,"wires":[["76194bb1.7452e4","beb5c0a1.2c76","92140155.7550c"]]},{"id":"92140155.7550c","type":"debug","z":"aadf2803.eda2a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":280,"wires":[]},{"id":"76194bb1.7452e4","type":"function","z":"aadf2803.eda2a8","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["aa46518b.39fef","92140155.7550c"]]},{"id":"beb5c0a1.2c76","type":"function","z":"aadf2803.eda2a8","name":"Pulse Rate","func":"global.set('pulse',msg.payload.Pulse)\nmsg.payload=msg.payload.Pulse\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["e93196e2.c95ea8","92140155.7550c"]]},{"id":"aa46518b.39fef","type":"ui_gauge","z":"aadf2803.eda2a8","name":"","group":"6e4f49e7.1733c8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"F","format":"{{value}}","min":"90","max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":160,"wires":[]},{"id":"e93196e2.c95ea8","type":"ui_gauge","z":"aadf2803.eda2a8","name":"","group":"6e4f49e7.1733c8","order":1,"width":0,"height":0,"gtype":"gage","title":"Pulse Rate","label":"bpm","format":"{{value}}","min":"30","max":"120","colors":["#b3009b","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":400,"wires":[]},{"id":"b0b65046.e2967","type":"http in","z":"aadf2803.eda2a8","name":"data","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":270,"y":540,"wires":[["5dd1ee16.8676c"]]},{"id":"193d74ec.e1935b","type":"http response","z":"aadf2803.eda2a8","name":"","statusCode":"","headers":{},"x":730,"y":540,"wires":[]},{"id":"5dd1ee16.8676c","type":"function","z":"aadf2803.eda2a8","name":"","func":"msg.payload={'temperature':global.get(\"temperature\"),'pulse':global.get(\"pulse\")}\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":540,"wires":[["193d74ec.e1935b"]]},{"id":"9659b14f.c703","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"6e4f49e7.1733c8","type":"ui_group","z":"","name":"Default","tab":"10a127d7.86b628","order":1,"disp":true,"width":"6","collapse":false},{"id":"10a127d7.86b628","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]